[Unit]
Description=Gunicorn instance to serve polishness Flask application
After=network.target

[Service]
User=danielp
Group=www-data
WorkingDirectory=/home/danielp/polishness/polishness
Environment="PATH=/home/danielp/polishness/venv/bin"
ExecStart=PYTHONPATH=.. /home/danielp/polishness/venv/bin/gunicorn --workers 3 --bind unix:app.sock -m 007 wsgi:app


[Install]
WantedBy=multi-user.target
