{% extends 'base.html' %}


{% block header %}
<p>Super:) Poznajemy razem polskie zabytki.</p>
{% endblock %}

{% block content %}
	<form action="/wycieczka/" method="get">
        <br>
        <p> - Generator wycieczek - </p>
        <p>Podaj parametry, dla jakich ma zostać wwygenerowana wycieczka:</p>
        <span>
            <input type="text" name="wojewodztwo" placeholder="...województwo..." autocomplete="off"/>
            <input type="text" name="powiat" placeholder="...powiat..." autocomplete="off"/>
            <input type="text" name="gmina" placeholder="...gmina..." autocomplete="off"/>
            <input type="text" name="miasto" placeholder="...miejscowość..." autocomplete="off"/>
        </span>

        <br/>
        <label for="quantity">Maksymalna liczba wynikowych wierszy:
        <input type="number" id="quantity" name="quantity" placeholder="...wpisz liczbę..." value="12" autocomplete="off"></label>
        <input type="submit" value="Szukaj">
    </form>


<a style="color:blue;" href="/">Wróć do strony początkowej.</a>
<br>
{% endblock %}
