{% extends 'base.html' %}


{% block header %}
<p>Super:) Poznajemy razem polskie zabytki.</p>
{% endblock %}

{% block content %}
	<form action="/wyszukaj/" method="get">
        <br>
        <p>Wyszukiwarka zabytków:</p>
        <span>
            <input type="text" name="miasto" placeholder="...wpisz miejscowość..." autocomplete="off"/>
            <input type="text" name="gmina" placeholder="...wpisz gminę..." autocomplete="off"/>
            <input type="text" name="powiat" placeholder="...wpisz powiat..." autocomplete="off"/>
            <input type="text" name="dowolneslowo" placeholder="...dowolne słowo..." autocomplete="off"/>
            <input type="text" name="wojewodztwo" placeholder="...wpisz województwo..." autocomplete="off"/>
        </span>

        <br/>
        <label for="quantity">Maksymalna liczba wynikowych wierszy:
        <input type="number" id="quantity" name="quantity" placeholder="...wpisz liczbę..." value="12" autocomplete="off"></label>
        <input type="submit" value="Szukaj">
    </form>

{% endblock %}
